.Main {
  background-image: url("../../assets/background.jpg");
  background-size: cover;
  text-align: left;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title {
  padding-top: 50px;
  padding-left: 80px;
  color: white;
}

.icons {
  display: flex;
  justify-content: center;


}

.icons a {
  margin: 10px 10px;
  color: white;
}

.description {
  height: 100%;
  width: 70%;
  padding-top: 50px;
  padding-left: 60px;
  padding-right: 50px;
  color: white
}

p {
  text-indent: 50px;
}

img {
  padding-top: 50px;
  height: auto;
}

@media (max-width: 768px) {}

@media (max-width: 480px) {}