.port {
  background-image: url("../../assets/portfoliobk.png");
  background-size: cover;
  min-height: 100vh;
  text-align: left;
  height: 100%;
  position: relative;
  color: white;
  padding-left: 60px;
  /* display: flex;
      justify-content: space-evenly; */
}

.title2 {
  padding-top: 35px;
}

img {
  height: 200px;
  width: 350px;
}

.portfolio__container {
  display: flex;
}

.icons {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px){
.description {
  width: 100%;
  padding-left: 20px; /* adjust padding as needed */
  padding-right: 20px; /* adjust padding as needed */
}
}

@media (max-width: 480px) {
  .description {
    width: 100%;
    padding-left: 20px; /* adjust padding as needed */
    padding-right: 20px; /* adjust padding as needed */
  }
}