
.pdfContainer {
    position: fixed;
    top: 30;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pdf {
    width: 100%;
    height: 100%;
    border: none;
  }

#resume {
    width: auto;
    height: 100%;
}

#resumeSection {
    height: 100%;
}